.contact__main {
    background-color: $blackMate;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    @media #{$tablet} {
        flex-direction: column;
        height: auto;
    }
}

#map__container {
    width: 60%;
    transform: translateX(30px);
    transition: all 1s;
    transition-timing-function: ease-in-out;
    @media #{$tablet} {
        margin-top: -35px;
        width: 100%;
        transform: translateX(0px);
        height: 30%;
    }
}

.form__container {
    width: 70%;
    padding: 30px 10px 0 20px;
    @media #{$tablet} {
        width: 100%;
        padding: 2em;
    }
}

#map {
    height: 100vh;
    width: 100%;
    @media #{$tablet} {
        height: 50vh;
    }
}

.mapChangeWith {
    width: 100% !important;
    transform: translateX(0px)!important;
    transition-timing-function: ease-in-out;
    transition: all 1s;
}

.adress {
    font-size: 0.8em;
    width: 100%;
    line-height: 21px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    padding-right: 10px;
    color: $grey;
    z-index: 40;
    @media #{$tablet} {
        justify-content: space-evenly;
        margin-top: 5em;
        padding-right: 0;
    }
    .fr {
        text-align: right;
        padding-right: 35px;
        z-index: 2;
        cursor: pointer;
        font-size: 0.8em;
        @media #{$tablet} {
            padding-right: 2px;
            text-align: center;
            min-width: 50%;
        }
    }

    .us {
        padding-left: 15px;
        text-align: left;
        z-index: 2;
        cursor: pointer;
        font-size: 0.8em;
        @media #{$tablet} {
            padding-left: 2px;
            text-align: center;
            min-width: 50%;
        }
    }
}

input,
input:focus {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $grey-1;
    max-width: 100%;
    font-family: $primary-font;
    color: $grey;
}

textarea {
    font-family: $primary-font;
    color: $grey-3;
}

input[type="text"],
input[type="email"] {
    color: $grey-3;
    width: 99%;
    padding: 0;
    font-size: 1em;
}

::placeholder {
    font-family: $primary-font;
    font-weight: 100;
    color: $grey-3;
    padding: 0 !important;
    font-size: 1em;
}

label {
    color: $grey;
    font-size: 0.8em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    width: 45%;
    @media #{$tablet} {
         width: 100%;
        line-height: 2em;
    }
}

.label-modify {
    position: relative;
    bottom: 50px;
    @media #{$tablet} {
        bottom: 20px;
    }
}

.submit_job {
    bottom: 26px;
    position: relative;
}

.label-modify2 {
    position: relative;
    bottom: 26px;
    @media #{$tablet} {
        bottom: 20px;
    }
}

.label-cv {
    position: relative;
    bottom: 7px;
}

textarea,
textarea:focus {
    min-width: 100%;
    margin-top: 10px;
    background: transparent;
    border: 1px solid $grey-1;
    max-width: 100%;
    max-height: 150px;
    min-height: 150px;
}

.two-col-form {
    display: flex;
    justify-content: space-between;
     @media #{$tablet} {
        flex-direction: column;
     }
}



.wpcf7-form-control-wrap {
    margin-right: 5px;
}

input[type="button"] {
    color: $white;
    background-color: #8d88be;
    border-color: $grey-1;
    padding: 6px;
}

input[type="file"] {
    color: #333;
    border: 0;
    border-bottom: 1px solid $grey-1;
     @media #{$tablet} {
        width: 100%;
     }
}

span.wpcf7-not-valid-tip {
    color: #585858;
    font-size: 12px;
    letter-spacing: 3px;
}

.wpcf7-validation-errors {
    display: none !important;
}

input.wpcf7-form-control.wpcf7-submit {
    background: transparent;
    border: 1px solid $grey-1;
    transition: all 2s;
    color: $grey;
    font-weight: normal;
    font-family: inherit;
    min-width: 210px;
    font-family: $primary-font;
    font-weight: 100;
    text-transform: inherit;
    @media #{$tablet} {
        width: 100%;
        margin: 0;
    }
}

button#tab_contact,
button#tab_job {
    background: transparent;
    color: $grey;
    font-weight: normal;
    font-family: inherit;
    margin: 30px 0;
    font-size: 1em;
    font-family: $primary-font;
    font-weight: 100;
    text-transform: inherit;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}


input.wpcf7-form-control.wpcf7-submit:hover {
    background: transparent;
    border: 1px solid transparent;
    background-color: #333333;
    transition: all 2s;
}

/*button#tab_contact:active,
button#tab_job:active,
button#tab_contact:focus,
button#tab_job:focus {
    border-bottom: 10px solid $grey-3;
    box-shadow: inset 0 -5px 0 $grey-3;
    display: inline-block;
    height: 40px;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}*/

#tab_contact.active,
#tab_job.active {
    border-bottom: 10px solid $grey-3;
    box-shadow: inset 0 -5px 0 $grey-3;
    display: inline-block;
    height: 40px;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}


button#tab_contact:avisited,
button#tab_job:avisited,
button#tab_contact:visited,
button#tab_job:visited {
    border-bottom: 0;
    line-height: 0px;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}

.select_form {
    display: flex;
    justify-content: space-evenly;
    @media #{$tablet} {
        justify-content: space-evenly;
    }
}

#custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

#custom-file-input::before {

    display: inline-block;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 10pt;
    background: transparent;
    border: 1px solid $grey;
    transition: all 2s;
    color: $grey-3;
    font-weight: normal;
    font-family: $primary-font;
    margin: 10px;
    font-weight: 100;
}

#custom-file-input:hover::before {
    border-color: black;
}

#custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}