.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid rgba(25, 25, 25, 0.04);
    p {
       font-size: 0.8em;
        margin-bottom: 0;
    }
}

.footer__socials {
    width: 33%;
}

.footer__logo {
    svg{
         width: 40%;
    }
}

.footer__adress {
    text-align: center;
    width: 33%;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.french__adress,
.us__adress {
    font-size: 1em;
}