@import 'variables';



/*GENERAL*/

a:focus,
a:active,
a:hover {
    outline: 0 !important;
    outline: 0 !important;
}


.site {
    margin: 0 auto;
    max-width: 100%;
}

.site-main {
    padding-bottom: 0;
}

body,
p {
    font-family: $primary-font;
}

body {
    background-color: $white;
}

body:before {
    display: none;
}

.site-content {
    width: 100%;
    margin-left: 0;
}
.text-sm{
    font-size: 0.8em;
    color: $grey;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.fullHeight {
    height: 100vh;
    transition: all 2s;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}