/*COLOR*/


$white : #FFF;
$white-1 : #FBFBFB;

$grey :  #969696;
$grey-1 : rgba(88,88,88,0.37);
$grey-3: #363636;
$grey-4: #7A7676;

$black : #000;
$blackMate : #191919;


/*FONTS */

$primary-font: 'Avenir-Book';