.contact__main {
    background-color: #191919;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

#map__container {
    width: 60%;
    transform: translateX(30px);
    transition: all 1s;
    transition-timing-function: ease-in-out;
}

.form__container {
    width: 70%;
    padding:0 10px 0 20px;
    overflow: scroll;
}

#map {
    height: 100vh;
    width: 100%;
}

.mapChangeWith {
    width: 100% !important;
    transform: translateX(0px)!important;
    transition-timing-function: ease-in-out;
    transition: all 1s;
}

.adress {

    font-size: 0.8em;
    width: 100%;
    line-height: 21px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 10px;
    color: #444444;
    .fr {
        text-align: right;
        padding-right: 35px;
    }
    .us {
        padding-left: 15px;
        text-align: left;
    }
}

input,
input:focus {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(88, 88, 88, 0.37);
    max-width: 100%;
    font-family: 'Avenir-book';
    color: rgba(189, 189, 188, 0.7);
}

textarea {
    font-family: 'Avenir-book';
    color: rgba(189, 189, 188, 0.7);
}
input[type="text"],
input[type="email"]
{
  width: 99%;
  padding: 0;
  font-size: 1em;
}

::placeholder {
    font-family: 'Avenir-Book';
    font-weight: 100;
    color: rgba(150, 150, 150, 0.7);
    padding: 0 !important;
    font-size: 1em;
}
.labelModif{
  position: relative;
    bottom: 29px;
}
textarea,
textarea:focus {
    min-width: 100%;
    margin-top: 10px;
    background: transparent;
    border: 1px solid rgba(88, 88, 88, 0.37);
    max-width: 100%;
    max-height: 150px;
    min-height: 150px;
}

.two-col-form {
    display: flex;
    justify-content: space-between;
}

.wpcf7-form-control-wrap {
    margin-right: 5px;
}

input[type="button"] {
    color: #fff;
    background-color: #8d88be;
    border-color: rgba(88, 88, 88, 0.37);
    padding: 6px;
}
input[type="file"] {
    color: #333;
    border: 0;
    border-bottom: 1px solid #333;
   
}

span.wpcf7-not-valid-tip {
    color: #585858;
    font-size: 12px;
    letter-spacing: 3px;
}

.wpcf7-validation-errors {
    display: none !important;
}

input.wpcf7-form-control.wpcf7-submit {
    background: transparent;
    border: 1px solid rgba(88, 88, 88, 0.37);
    transition: all 2s;
    color: #969696;
    font-weight: normal;
    font-family: inherit;
    min-width: 210px;
    margin: 10px;
    font-family: 'avenir';
    font-weight: 100;
    text-transform: inherit;
}

button#tab_contact,
button#tab_job {
    background: transparent;
    color: rgba(150, 150, 150, 0.7);
    font-weight: normal;
    font-family: inherit;
    min-width: 210px;
    margin: 10px;
    font-size: 1em;
    font-family: 'Avenir-Book';
    font-weight: 100;
    text-transform: inherit;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}


input.wpcf7-form-control.wpcf7-submit:hover {
    background: transparent;
    border: 1px solid transparent;
    background-color: #333333;
    transition: all 2s;
}

button#tab_contact:active,
button#tab_job:active,
button#tab_contact:focus,
button#tab_job:focus {
    border-bottom: 10px solid #363636;
    line-height: 0px;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}
button#tab_contact:avisited,
button#tab_job:avisited,
button#tab_contact:visited,
button#tab_job:visited {
    border-bottom:0;
    line-height: 0px;
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
}
.select_form{
      display: flex;
      justify-content: space-evenly;}

#custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

/*input[type="file"]{
color: transparent;
}*/
#custom-file-input::before {
    
    display: inline-block;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 10pt;
    background: transparent;
    border: 1px solid rgba(88, 88, 88, 0.37);
    transition: all 2s;
    color: #333;
    font-weight: normal;
    font-family: inherit;

    margin: 10px;
    font-family: 'avenir';
    font-weight: 100;
}

#custom-file-input:hover::before {
    border-color: black;
}

#custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}