/*GENERAL*/
@media screen and (min-width: 59.6875em) {
  .site {
    margin: 0 auto;
    max-width: 100%; } }

body,
p {
  font-family: 'Avenir-Book'; }

body {
  background-color: #FFF; }

@media screen and (min-width: 59.6875em) {
  body:before {
    display: none; } }

@media screen and (min-width: 59.6875em) {
  .site-content {
    width: 100%;
    margin-left: 0; } }

.hide {
  display: none; }

.show {
  display: block; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }
