/*COLOR*/
/*FONTS */
@font-face {
  font-family: 'Avenir-Book';
  src: url("../fonts/Avenir-Book.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

img.custom-logo {
  width: 7%; }

.site-branding {
  padding: 1em; }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgba(25, 25, 25, 0.04); }
  .footer .fa {
    margin-right: 10%; }
  .footer p {
    font-size: 0.5em;
    margin-bottom: 0; }

.footer__socials {
  width: 33%; }

.footer__logo {
  text-align: center;
  width: 33%; }
  .footer__logo img {
    width: 20%; }

.footer__adress {
  text-align: center;
  width: 33%;
  display: flex;
  justify-content: space-around;
  text-align: left; }

.french__adress,
.us__adress {
  max-width: 90px; }

/*COLOR*/
/*FONTS */
/*GENERAL*/
a:focus, a:active, a:hover {
  outline: 0 !important;
  outline: 0 !important; }

@media screen and (min-width: 59.6875em) {
  .site {
    margin: 0 auto;
    max-width: 100%; } }

.site-main {
  padding-bottom: 0; }

body,
p {
  font-family: "Avenir-Book"; }

body {
  background-color: #FFF; }

@media screen and (min-width: 59.6875em) {
  body:before {
    display: none; } }

@media screen and (min-width: 59.6875em) {
  .site-content {
    width: 100%;
    margin-left: 0; } }

.hide {
  display: none; }

.show {
  display: block; }

.fullHeight {
  height: 100vh; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

a.post-thumbnail:hover,
a.post-thumbnail:focus {
  opacity: 1; }

.home article {
  margin: 0 !important;
  padding: 0;
  /*margin-top: -57px !important;*/
  border: 0; }

@media screen and (max-width: 768px) {
  .home article {
    border: 0 !important; } }

.home img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
  width: 100%;
  height: 100%; }

.home .site-main {
  padding: 0; }

.home .entry-title {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center; }

@media screen and (max-width: 768px) {
  .home .entry-title {
    font-size: 20px;
    top: 40%; } }

.home .entry-title a {
  color: #FFF;
  text-rendering: optimizeLegibility;
  font-family: "Avenir-Book";
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: #FFF;
  text-transform: uppercase;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.1); }

.mask-title {
  background: #FFF;
  width: 60%;
  height: 100px;
  position: absolute;
  right: 0;
  left: 0;
  /* top: 0; */
  /* bottom: 0; */
  margin: 0 auto;
  transition: all 1s; }

.mask-title-animation {
  height: 2px;
  width: 40px;
  transition: all 1s; }

.home .entry-footer,
.home .entry-content {
  display: none; }

/*MASK*/
.mask__project {
  background-color: #000;
  width: 100%;
  height: 0px;
  transform: translateX(100%);
  position: absolute;
  transition: all 1s;
  z-index: 1; }

.post-thumbnail {
  margin-bottom: 0; }

.controls-wrapper,
.sidedock {
  display: none !important; }

.two-col {
  display: flex;
  justify-content: center; }

.one-col .img-container,
.two-col .img-container {
  padding: 3px; }

.one-col .img-container {
  width: 50%;
  margin: 0 auto; }

.entry-content p {
  color: #7A7676;
  font-size: 0.8em;
  font-family: "Avenir-Book";
  font-weight: 100;
  margin: 0; }

.entry-header {
  padding: 0 5em; }
  @media screen and (min-width: 59.6875em) {
    .entry-header {
      padding: 0 5em; } }
  @media screen and (min-width: 38.75em) {
    .entry-header {
      padding: 0 5em; } }

body.single {
  background: #000; }

.single .hentry {
  background-color: #000; }

.single .post-thumbnail {
  display: none; }

.title__video__post {
  font-family: "Avenir-Book";
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 10%;
  margin-bottom: 2%;
  letter-spacing: 1px;
  color: #585858;
  text-transform: lowercase; }
  .title__video__post::first-letter {
    text-transform: uppercase; }
  .title__video__post:first-letter {
    text-transform: uppercase; }

.single .entry-content {
  color: #d4d4d4;
  padding: 0 15em 5em 5em;
  text-align: justify; }

.capitalize {
  text-transform: uppercase; }

/*.post__desc {
    padding: 2em;
}*/
.post__container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  width: 80%;
  /* background-color: #191919;*/ }

.page__close {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  margin-bottom: 2em; }
  .page__close img {
    transition: all 2s;
    opacity: 0.2;
    cursor: pointer; }
  .page__close img:hover {
    transition: all 2s;
    opacity: 0.8;
    cursor: pointer; }

.post {
  margin: 0; }
  .post .video360 {
    height: 80vh;
    padding: 0 5%; }

/*POST NAV*/
.nav-links {
  display: flex;
  width: 100%; }

.post__nav-prev,
.post__nav-next {
  width: 20%;
  text-align: center;
  margin: 0 auto; }

.post__nav-next {
  transform: rotate(180deg); }

.post-navigation .nav-next {
  background-image: none !important; }

.post-navigation .nav-previous span,
.post-navigation .nav-next span {
  color: #2f2f2f !important;
  z-index: 9;
  position: relative; }

.post-navigation .nav-previous a:before,
.post-navigation .nav-next a:before,
.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
  background-color: #000 !important;
  color: #2f2f2f !important; }

.post-navigation .nav-previous,
.post-navigation .nav-next,
.post-navigation .nav-previous:hover,
.post-navigation .nav-next:hover {
  background-image: none !important; }

/*NAV SETTINGS*/
.page-template-template-about .main-navigation li a {
  color: #000;
  font-family: "Avenir-Book";
  text-transform: uppercase; }

.page-template-template-about .main-navigation .current-menu-item > a,
.page-template-template-about .main-navigation .current-menu-ancestor > a {
  font-weight: inherit;
  border-bottom: 3px solid #000; }

/*TITLE*/
.about__title {
  font-family: "Avenir-Book";
  font-weight: 900;
  font-size: 1.5em;
  margin: 4% 0;
  letter-spacing: 1px;
  color: #969696; }

.about__p {
  padding: 0 10%;
  text-align: justify;
  color: #000;
  font-size: 1.2em;
  margin: 10% 0; }
  @media screen and (max-width: 768px) {
    .about__p {
      padding-top: 15%; } }

/*OFFER*/
.about__offer {
  padding-top: 20%;
  background-color: #191919; }

.about__offer__list-item {
  display: flex;
  justify-content: space-between;
  padding: 30px; }
  @media screen and (max-width: 768px) {
    .about__offer__list-item {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.about__slider {
  display: flex;
  margin-bottom: -17%; }

.slider {
  width: 100%; }

.about__slider-mask {
  background-color: #000;
  height: 424px;
  z-index: 1;
  position: absolute;
  right: 0;
  transition: all 0.5s; }

.about__first-column {
  display: flex;
  width: 70%; }

.about__second-column {
  width: 30%;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .about__second-column {
      width: 60%; } }
  .about__second-column img {
    width: 60%;
    margin: 0 auto;
    padding-top: 5%; }

.about__offer-title {
  color: #969696;
  font-size: 0.9em;
  font-weight: 100;
  font-family: "Avenir-Book"; }
  @media screen and (max-width: 768px) {
    .about__offer-title {
      flex-direction: column;
      justify-content: center;
      text-align: center; } }

.about__offer-p {
  max-width: 18em;
  margin-bottom: 4em;
  color: #7A7676;
  font-size: 0.8em;
  font-weight: 100;
  font-family: "Avenir-Book"; }
  @media screen and (max-width: 768px) {
    .about__offer-p {
      justify-content: center;
      max-width: 100%;
      align-items: center;
      margin: 0 auto;
      margin-top: 1em;
      margin-bottom: 2em; } }

.about__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .about__row {
      flex-direction: column;
      justify-content: center; } }

.offer {
  flex-shrink: 0;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .offer {
      width: 100%; } }

/*DEVICES */
.about__devices {
  display: flex;
  justify-content: space-between;
  background-color: #191919; }
  @media screen and (max-width: 768px) {
    .about__devices {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center; } }

.about__devices-desc {
  margin: 0 auto;
  padding-top: 9%; }
  .about__devices-desc p {
    color: #969696;
    font-size: 0.9em;
    font-weight: 100;
    text-align: center;
    font-family: "Avenir-Book"; }
  @media screen and (max-width: 768px) {
    .about__devices-desc {
      padding-top: 2%;
      padding-bottom: 2%; } }

.devices__picto {
  display: flex;
  justify-content: space-around; }
  .devices__picto img {
    margin-right: 10%; }

.about__devices-img {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .about__devices-img {
      margin: 0 auto; } }

/*CLIENTS*/
.about__clients {
  background-color: #FBFBFB;
  padding: 1% 0;
  margin-top: -12%;
  z-index: 3;
  position: relative;
  padding-bottom: 7%; }
  .about__clients .about__title {
    color: #000; }
  @media screen and (max-width: 955px) {
    .about__clients {
      margin-top: -8%; } }
  @media screen and (max-width: 768px) {
    .about__clients {
      margin-top: 0; } }

.logos__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap; }

.clients__logo {
  width: 10%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .clients__logo {
      width: 30%;
      height: 100%; } }

.contact__main {
  background-color: #191919; }

.contact__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh; }

#map__container {
  width: 60%;
  transform: translateX(30px);
  transition: all 1s;
  transition-timing-function: ease-in-out; }

.form__container {
  width: 70%;
  padding: 0 10px 0 20px;
  /*overflow: scroll;*/ }

#map {
  height: 100vh;
  width: 100%; }

.mapChangeWith {
  width: 100% !important;
  transform: translateX(0px) !important;
  transition-timing-function: ease-in-out;
  transition: all 1s; }

.adress {
  font-size: 0.8em;
  width: 100%;
  line-height: 21px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 10px;
  color: #969696; }
  .adress .fr {
    text-align: right;
    padding-right: 35px;
    z-index: 2;
    cursor: pointer; }
  .adress .us {
    padding-left: 15px;
    text-align: left;
    z-index: 2;
    cursor: pointer; }

input,
input:focus {
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(88, 88, 88, 0.37);
  max-width: 100%;
  font-family: "Avenir-Book";
  color: #969696; }

textarea {
  font-family: "Avenir-Book";
  color: #363636; }

input[type="text"],
input[type="email"] {
  color: #363636;
  width: 99%;
  padding: 0;
  font-size: 1em; }

::placeholder {
  font-family: "Avenir-Book";
  font-weight: 100;
  color: #363636;
  padding: 0 !important;
  font-size: 1em; }

label {
  color: #969696; }

textarea,
textarea:focus {
  min-width: 100%;
  margin-top: 10px;
  background: transparent;
  border: 1px solid rgba(88, 88, 88, 0.37);
  max-width: 100%;
  max-height: 150px;
  min-height: 150px; }

.two-col-form {
  display: flex;
  justify-content: space-between; }

.wpcf7-form-control-wrap {
  margin-right: 5px; }

input[type="button"] {
  color: #FFF;
  background-color: #8d88be;
  border-color: rgba(88, 88, 88, 0.37);
  padding: 6px; }

input[type="file"] {
  color: #333;
  border: 0;
  border-bottom: 1px solid rgba(88, 88, 88, 0.37); }

span.wpcf7-not-valid-tip {
  color: #585858;
  font-size: 12px;
  letter-spacing: 3px; }

.wpcf7-validation-errors {
  display: none !important; }

input.wpcf7-form-control.wpcf7-submit {
  background: transparent;
  border: 1px solid rgba(88, 88, 88, 0.37);
  transition: all 2s;
  color: #969696;
  font-weight: normal;
  font-family: inherit;
  min-width: 210px;
  margin: 10px;
  font-family: "Avenir-Book";
  font-weight: 100;
  text-transform: inherit; }

button#tab_contact,
button#tab_job {
  background: transparent;
  color: #969696;
  font-weight: normal;
  font-family: inherit;
  min-width: 210px;
  margin: 10px;
  font-size: 1em;
  font-family: "Avenir-Book";
  font-weight: 100;
  text-transform: inherit;
  transition: all 0.5s;
  transition-timing-function: ease-in-out; }

input.wpcf7-form-control.wpcf7-submit:hover {
  background: transparent;
  border: 1px solid transparent;
  background-color: #333333;
  transition: all 2s; }

button#tab_contact:active,
button#tab_job:active,
button#tab_contact:focus,
button#tab_job:focus {
  border-bottom: 10px solid #363636;
  line-height: 0px;
  transition: all 0.5s;
  transition-timing-function: ease-in-out; }

button#tab_contact:avisited,
button#tab_job:avisited,
button#tab_contact:visited,
button#tab_job:visited {
  border-bottom: 0;
  line-height: 0px;
  transition: all 0.5s;
  transition-timing-function: ease-in-out; }

.select_form {
  display: flex;
  justify-content: space-evenly; }

#custom-file-input::-webkit-file-upload-button {
  visibility: hidden; }

#custom-file-input::before {
  display: inline-block;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10pt;
  background: transparent;
  border: 1px solid #969696;
  transition: all 2s;
  color: #363636;
  font-weight: normal;
  font-family: "Avenir-Book";
  margin: 10px;
  font-weight: 100; }

#custom-file-input:hover::before {
  border-color: black; }

#custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }

#sidebar {
  width: 100%;
  max-width: 100%;
  z-index: 10; }

#site-navigation {
  width: 100%;
  margin: 0;
  text-align: center; }

.main-navigation li {
  display: inline-block;
  margin-left: 2em;
  margin-right: 1em;
  border-top: 0; }
  @media screen and (max-width: 954px) {
    .main-navigation li {
      display: inline; } }

.main-navigation li a {
  color: #FFF;
  font-family: "Avenir-Book";
  text-transform: uppercase; }
  @media screen and (max-width: 954px) {
    .main-navigation li a {
      color: #000;
      z-index: 200; } }

@media screen and (max-width: 954px) {
  .secondary {
    display: none;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none; } }

.secondary-toggle.toggled-on:before {
  left: -10px; }

.main-navigation li a.active {
  color: #000; }

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-item > a.active,
.main-navigation .current-menu-ancestor > a {
  font-weight: inherit;
  border-bottom: 3px solid #FFF; }
  @media screen and (max-width: 954px) {
    .main-navigation .current-menu-item > a,
    .main-navigation .current-menu-item > a.active,
    .main-navigation .current-menu-ancestor > a {
      width: 70px;
      margin: 0 auto;
      font-weight: bold; } }

.site-branding.active .main-navigation .current-menu-item > a,
.site-branding.active .main-navigation .current-menu-item > a.active,
.site-branding.active .main-navigation .current-menu-ancestor > a {
  font-weight: inherit;
  border-bottom: 3px solid #000; }

@media screen and (max-width: 954px) {
  .main-navigation ul {
    line-height: 11vh; } }

.main-navigation ul,
.menu-item {
  border: 0; }

.site-header {
  margin: 0;
  padding: 0 !important; }

.menu-main-menu-container {
  float: right;
  position: relative;
  bottom: 30px;
  margin-bottom: -30px; }
  @media screen and (max-width: 954px) {
    .menu-main-menu-container {
      float: none; } }

.secondary-toggle {
  border: 0;
  top: 25px;
  z-index: 40; }

#sidebar {
  height: 0; }

.site-branding {
  z-index: 1000;
  min-height: 0 !important; }
  @media screen and (max-width: 954px) {
    .site-branding {
      background-color: #FFF;
      min-height: 0px !important; } }

.site-branding.active {
  background-color: #FFF;
  position: absolute;
  width: 100%; }

.secondary-toggle:focus,
.secondary-toggle:hover {
  background-color: transparent;
  border: transparent; }

.menu__open {
  display: none;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  left: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  margin: 0 auto; }
  .menu__open .menu-main-menu-container {
    margin: 0 auto;
    width: 100%; }
  .menu__open ul {
    display: inline;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0 auto; }
  .menu__open li {
    margin-top: 3em;
    font-weight: bold; }

.menu__open.active {
  display: inline;
  top: 50px; }

.secondary-toggle {
  color: #333;
  line-height: 40px;
  width: 40px; }
