#sidebar {
  width: 100%;
  max-width: 100%;
  z-index: 10; }

#site-navigation {
  width: 100%;
  margin: 0;
  text-align: center; }

.main-navigation li {
  display: inline-block;
  margin-left: 2em;
  margin-right: 1em;
  border-top: 0; }
  @media screen and (max-width: 954px) {
    .main-navigation li {
      display: inline; } }

.main-navigation li a {
  color: #FFF;
  font-family: 'Avenir-Book', 'sans-serif';
  text-transform: uppercase; }
  @media screen and (max-width: 954px) {
    .main-navigation li a {
      color: #000;
      z-index: 200; } }

@media screen and (max-width: 954px) {
  .secondary {
    display: none;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none; } }

.secondary-toggle.toggled-on:before {
  left: -10px; }

.main-navigation li a.active {
  color: #000; }

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-item > a.active,
.main-navigation .current-menu-ancestor > a {
  font-weight: inherit;
  border-bottom: 3px solid #FFF; }
  @media screen and (max-width: 954px) {
    .main-navigation .current-menu-item > a,
    .main-navigation .current-menu-item > a.active,
    .main-navigation .current-menu-ancestor > a {
      width: 70px;
      margin: 0 auto;
      font-weight: bold; } }

.site-branding.active .main-navigation .current-menu-item > a,
.site-branding.active .main-navigation .current-menu-item > a.active,
.site-branding.active .main-navigation .current-menu-ancestor > a {
  font-weight: inherit;
  border-bottom: 3px solid #000; }

@media screen and (max-width: 954px) {
  .main-navigation ul {
    line-height: 11vh; } }

.main-navigation ul,
.menu-item {
  border: 0; }

.site-header {
  margin: 0;
  padding: 0 !important; }

.menu-main-menu-container {
  float: right;
  position: relative;
  bottom: 30px;
  margin-bottom: -30px; }
  @media screen and (max-width: 954px) {
    .menu-main-menu-container {
      float: none; } }

.secondary-toggle {
  border: 0;
  top: 25px;
  z-index: 40; }

#sidebar {
  height: 0; }

.site-branding {
  z-index: 1000;
  min-height: 0 !important; }
  @media screen and (max-width: 954px) {
    .site-branding {
      background-color: #FFF;
      min-height: 0px !important; } }

.site-branding.active {
  background-color: #FFF;
  position: absolute;
  width: 100%; }

.secondary-toggle:focus,
.secondary-toggle:hover {
  background-color: transparent;
  border: transparent; }

.menu__open {
  display: none;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  left: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  margin: 0 auto; }
  .menu__open .menu-main-menu-container {
    margin: 0 auto;
    width: 100%; }
  .menu__open ul {
    display: inline;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0 auto; }
  .menu__open li {
    margin-top: 3em;
    font-weight: bold; }

.menu__open.active {
  display: inline;
  top: 50px; }

.secondary-toggle {
  color: #333;
  line-height: 40px;
  width: 40px; }
